{{#partial banner }}
<p>{{ msg }}<p>
{{#if redirect_to }}
    <p><small>Redirecting back&hellip;</small></p>
    <meta http-equiv="refresh" content="3; URL={{ redirect_to }}">
{{/if}}
{{/partial}}
{{> layout}}
