{{# partial "content" }}
<ul id="applist">
    {{#each sessions}}
    <li class="clearfix">
        <form method="post">
            <input type="hidden" name="token" value="{{ @key }}" />
            <input type="hidden" name="action" value="delete_token" />
            <input type="submit" class="pure-button button-small delete-token" value="Revoke" />
        </form>
        <a href="{{uri}}">{{uri}}</a><br/>
    </li>
    {{/each}}
</ul>
{{/partial}}

{{> layout}}
