{{# partial "content" }}
<ul>
    {{#each sessions}}
    <li>
        <strong>{{uri}}</strong></br>
        <small>{{user_agent}}</small>
        <form method="post">
            <input type="hidden" name="token" value="{{ @key }}" />
            <input type="hidden" name="action" value="delete_token" />
            <input type="submit" value="Delete" />
        </form>
    </li>
    {{/each}}
</ul>
{{/partial}}

{{> layout}}
