{{#> layout}}
{{#*inline "content"}}
<p>Welcome to this <a href="https://remotestorage.io/">remoteStorage</a>-server.</p>

<ol>

    <li>

        <p>You'll require an account:</p>

        <pre>$ mysteryshack user create foobar</pre>

        <p>You don't own this server? You can always
        <a href="https://github.com/untitaker/mysteryshack">
        run your own</a>!</p>

    <li>

        <p>Then <a href="/dashboard/login/">log in</a>.</p>

</ol>

{{/inline}}
{{/layout}}
