{{# partial "content" }}
<p>Welcome to this <a href="https://remotestorage.io/">remoteStorage</a>-server.</p>

<ol>

    <li>

        <p>You'll require an account. Use the command-line interface of
        <code>mysteryshack</code> like this:</p>

        <pre>$ mysteryshack user create foobar</pre>

        <p class="alert alert-info">You don't own this server? You can always
        <a href="https://github.com/untitaker/mysteryshack">run your
        own</a>!</p>

    <li>

        <p>Use an application that supports remoteStorage and connect with your
        account. For instance:</p>

        <ul>
            <li><a href="https://sharesome.5apps.com/">Sharesome</a></li>
            <li><a href="https://webmarks.5apps.com/">Webmarks</a></li>
            <li><a href="https://unterwaditzer.net/taskrs/">Taskrs</a></li>
            <li><a href="https://remotestorage-browser.5apps.com/">remoteStorage Browser</a></li>
            <li><a href="https://wiki.remotestorage.io/Apps"><i>More apps&hellip;</i></a></li>
        </ul>

    <li>

        <p><a href="/dashboard/">Manage</a> your application permissions.</p>

</ol>

{{/partial}}

{{> layout}}
