<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{{#block "title"}}Mysteryshack{{/block}}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <link rel="stylesheet" href="/static/pure-min.css" />
        <link rel="stylesheet" href="/static/app.css" />
        {{#block "head"}}{{/block}}
    </head>
    <body>
        <header id="header">
            {{#block "header" }}
            <h1>Mysteryshack</h1>
            {{/block}}
        </header>

        <div id="content">
            {{#block "content" }}
            {{/block}}
        </div>

        <footer id="footer">
            {{#block "footer" }}
            <p><small>Powered by <a href="https://github.com/untitaker/mysteryshack">mysteryshack</a></small></p>
            {{/block}}
        </footer>
    </body>
</html>
