<!DOCTYPE html>
<html>
    <head>
        {{#block "header" }}
        <h1>Mysteryshack</h1>
        {{/block}}
    </head>
    <body>
        {{#block "content" }}
        {{/block}}

        {{#block "footer" }}
        <footer>
            <p><small>Powered by <a href="https://github.com/untitaker/mysteryshack">mysteryshack</a></small></p>
        </footer>
        {{/block}}
    </body>
</html>
