<!DOCTYPE html>
<html>
    <head>
        <title>{{#block "title"}}Mysteryshack{{/block}}</title>
        <link rel="stylesheet" href="/static/app.css" />
        {{#block "head"}}{{/block}}
    </head>
    <body>
        {{#block "header" }}
        <h1>Mysteryshack</h1>
        {{/block}}
        {{#block "content" }}
        {{/block}}

        {{#block "footer" }}
        <footer>
            <p><small>Powered by <a href="https://github.com/untitaker/mysteryshack">mysteryshack</a></small></p>
        </footer>
        {{/block}}
    </body>
</html>
