{{# partial content }}
<h2>OAuth request</h2>

<p>The following application wants to access your data:</p>

<div class="app-info">
{{#block show-app }}{{/block}}

<form method=post>
    <input type=submit name=decision class="pure-button oauth-allow" value=allow />
    <input type=submit name=decision class="pure-button oauth-deny" value=deny />
</form>
</div>

{{/partial}}

{{> layout}}
