{{#> layout}}
    {{# partial content }}
        <h2>Oauth Error</h2>

        <p>An error happened while trying to authenticate. Please go back to the application.</p>

        <p>If you didn't intend to log into your remoteStorage server with an app, this page is not for you.</p>

        <blockquote>
        {{ e_msg }}
        </blockquote>
    {{/partial}}
{{/layout}}
