#header, #content, #footer {
    margin: 0 auto;
    display: block;
    max-width: 768px;
}

#header, #footer {
    text-align: center;
}

#logo {
    display: block;
    width: 120px;
    height: 120px;
    margin: 20px auto 0;
    text-indent: -9999px;
    background: url(logo.svg);
    background-size: 120px 120px;
}

#applist {
    list-style: none;
    padding: 0;
}

#applist li {
    margin: 0;
    padding: 10px;
}

#applist li:hover {
    background: #efefef;
}

.delete-token {
    background-color: rgb(202, 60, 60);
    color: white;
    font-size: 85%;
    float: right;
}

.oauth-allow {
    background-color: rgb(202, 60, 60);
    color: white;
}

#login {
    margin: 0 auto;
    max-width: 230px;
}

#login input {
    width: 100%;
}

.user-agent img {
    width: 32px;
    height: 32px;
}

code, pre {
    background-color: #FEE9CC;
    padding: 1px 3px;
    border-radius: 3px;
}
