#banner > div, #header, #content, #footer {
    margin: 0 auto;
    padding: 0 10px;
    display: block;
    max-width: 768px;
}

#banner {
    background-color: #efefef;
}

#banner > div {
    padding: 10px;
}

#banner > div:empty {
    display: none;
}

#footer {
    text-align: center;
}

#logo {
    display: block;
    width: 120px;
    height: 120px;
    margin: 20px auto 0;
    text-indent: -9999px;
    background: url(logo.svg);
    background-size: 100% auto;
}

@media screen and (max-width: 568px) {
    #logo {
        width: 32px;
        height: 32px;
    }
}

#applist {
    list-style: none;
    padding: 0;
}

#applist li {
    margin: 0;
    padding: 10px;
}

#applist li:hover {
    background: #efefef;
}

.delete-token {
    background-color: rgb(202, 60, 60);
    color: white;
    font-size: 85%;
    float: right;
}

#applist h3 { margin: 0; padding: 0; }

.oauth-allow {
    background-color: rgb(202, 60, 60);
    color: white;
}

#login {
    margin: 0 auto;
    max-width: 230px;
}

#login input {
    width: 100%;
}

.user-agent img {
    width: 32px;
    height: 32px;
}

code, pre {
    background-color: #FFD48E;
    padding: 1px 3px;
    border-radius: 3px;
}

.clearfix {
    overflow: auto;
}

.pure-button-primary {
    background-color: #000;
}
